
<h1>
	All Message Comments for Project '<%= @project.name %>'
</h1>
<%= will_paginate @comments, :class => 'flickr_pagination' %>
<table class="url-list sortable">
  <tr>
    <th>Author</th>
    <th>Content</th>
    <th>Message Id</th>
    <th><%= sortable('num_attachments','Attachments') %></th>
    <th><%= sortable('posted_on', 'Posted') %></th>
    <th></th>
  </tr>
<%= render @comments %>
</table>

<%= link_to "All Messages", project_messages_path(@project)%> |
<%= link_to "All Tasks", project_tasks_path(@project)%> |
<%= link_to "Project", project_path(@project)%>

