
<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<% if @project.basecamp_id %> 
<p>
  <b>Announcement:</b>
  <%= @project.announcement %>
</p><p>
  <b>Created:</b>
  <%= @project.created_on %>
</p>
<p>
  <b>Last updated:</b>
  <%= @project.last_changed_on %>
</p>
<p>
  <b>Status:</b>
  <%= @project.status %>
</p>
<p>
  <b>Basecamp id:</b>
  <%= @project.basecamp_id %>
</p>

<% else %>
<p>
  <b>Description:</b>
  <%= @project.description %>
</p><p>
  <b>Created:</b>
  <%= @project.created_at %>
</p>
<p>
  <b>Last updated:</b>
  <%= @project.updated_at %>
</p>
<% end %>
<p>
  <b>Messages:</b>
  <%= link_to(@num_messages, project_messages_path(@project.id)) %> (<%= @num_bc_messages %> available - <%= link_to "Refresh", refresh_available_messages_path(@project) %>) |
  <%= link_to("Import all", import_messages_path(@project.id))%> |
  <%= link_to("Import new", discover_messages_path(@project.id))%> |
  <%= link_to("Remove all", project_delete_messages_path(@project.id))%>
</p>
<p>
  <b>Message Comments:</b>
  <%= link_to(@num_message_comments, project_message_comments_path(@project.id)) %> 
  <%= link_to("Import all", import_message_comments_path(@project.id))%> |
  <%= link_to("Import new", discover_message_comments_path(@project.id))%> |
  <%= link_to("Remove all", project_delete_message_comments_path(@project.id))%>
</p>  
  <b>Tasks:</b>
  <%= link_to(@num_tasks, project_tasks_path(@project.id)) %> (<%= @num_bc_tasks %> available - <%= link_to "Refresh", refresh_available_tasks_path(@project) %>) |
  <%= link_to("Import all", import_tasks_path(@project.id))%> |
  <%= link_to("Import new", discover_tasks_path(@project.id))%> |
  <%= link_to("Remove all", project_delete_tasks_path(@project.id))%>
</p>
<p>
  <b>Task Comments:</b>  
  <%= link_to(@num_task_comments, project_task_comments_path(@project.id)) %> 
  <%= link_to("Import all", import_task_comments_path(@project.id))%>   |
  <%= link_to("Remove all", project_delete_task_comments_path(@project.id))%>
</p>
<%= link_to 'All Projects', projects_path %>
